.spinning-picture {
  animation: fraser-face-spin infinite 1s linear;
  height: 40vmin;
  pointer-events: none;
}

@keyframes fraser-face-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
